.Comentario{
    background-color: #44475a;  
    margin: 50px 0;
    border: 3px solid #bd93f9;
    border-radius: 10px;
    color: white;
    padding: 20px;

    display: flex;
    position: relative;
}

.Comentario .avatar{
    max-width: 100px;
    max-height: 100px;
}

.Comentario .conteudo{
    margin-left: 1rem;
    width: 100%;
}

.Comentario .conteudo .nome{
   font-size: 1.8rem;
   margin: .5rem 0 .9rem 0;
}

.Comentario .conteudo .email{
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    color: #ffb86c;
}

.Comentario .conteudo .mensagem{
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
}

.Comentario .conteudo .data{
    font-size: .75rem;
    margin: 1rem 0 1rem 0;
    text-align: right;
    color: #ff79c6;
}

.Comentario .conteudo button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}
